<fieldset class="uk-position-relative uk-padding-small border-none uk-margin-large-bottom uk-flex uk-flex-column uk-flex-middle uk-flex-center" data-test-forms-slider={{@entry.name}}>
  <label class="sr-only" for="forms-pairs-range-{{@entry.name}}" data-test-forms-slider-label>{{@label}}</label>
  <div class="uk-flex uk-flex-column uk-flex-between uk-flex-middle uk-text-center">
    <p class="uk-margin-remove uk-flex-last" data-test-forms-slider-left-label>{{@entry.minLabel}}</p>
    <input
      id="forms-pairs-range-{{@entry.name}}"
      class="uk-range vertical"
      type="range"
      min={{@entry.rangeMin}}
      max={{@entry.rangeMax}}
      oninput={{@onUpdate}}
      value={{@entry.value}}
      data-test-forms-slider-input
      ...attributes />
    <p class="uk-margin-remove uk-flex-first" data-test-forms-slider-right-label>{{@entry.maxLabel}}</p>
  </div>
  <div class="uk-flex uk-flex-center uk-text-center uk-position-absolute uk-background-primary round vertical-current-value">
    <div class="uk-width-auto uk-text-white uk-text-small uk-margin-small-top uk-margin-remove"  data-test-forms-slider-current-value>{{@currentValue}}</div>
  </div>
</fieldset>
