<form data-test-forms-pairs ...attributes>
  {{#each @pairs as |pair|}}
    <Forms::Slider @entry={{pair}} @onUpdate={{this.updateForm}} data-test-forms-pairs-entry={{pair.name}} />
  {{/each}}
  <div class="uk-flex uk-flex-right">
    <UkButton @color="primary" @fill={{true}} @on-click={{fn @onSubmit this.pairs}} disabled={{@isSubmitted}} data-test-forms-pairs-submit>
      Save
    </UkButton>
  </div>
</form>
