<fieldset data-test-forms-slider>
  <label class="sr-only" for="forms-pairs-range-{{@entry.name}}" data-test-forms-slider-label>{{this.label}}</label>
  <div class="uk-flex uk-flex-between">
    <span data-test-forms-slider-left-label>{{@entry.negative}}</span>
    <input
      id="forms-pairs-range-{{@entry.name}}"
      class="uk-range uk-width-1-2"
      type="range"
      min={{@entry.rangeMin}}
      max={{@entry.rangeMax}}
      oninput={{fn this.updateRange @entry.name}}
      value={{@entry.value}}
      data-test-forms-slider-input
      ...attributes />
    <span data-test-forms-slider-right-label>{{@entry.positive}}</span>
  </div>
  <div class="uk-flex uk-flex-center uk-text-center">
    <p class="uk-width-auto uk-text-primary uk-margin-small-top uk-margin-remove-bottom" data-test-forms-slider-current-value>{{this.currentValue}}</p>
  </div>
</fieldset>
